<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted equal height grid">
      <div class="five wide column">
        <%= image_tag 'logo-ntv-sm.png' %>
        <div class="ui inverted link list">
          <p>
            CTY CỔ PHẦN CÔNG NGHỆ THIÊN MINH<br />
            68 Nguyễn Huệ, Quận 1, TpHCM<br />
            Điện thoại: (08) 6266 6868<br />
            Email: <a href="mailto:info@nhathauvang.com">info@nhathauvang.com</a>
          </p>
        </div>
      </div>
      <div class="eleven wide column">
        <div class="ui stackable equal height three column grid">
          <div class="column">
            <h4 class="ui inverted header">NHATHAUVANG.COM</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Giới thiệu</a>
              <a href="#" class="item">Liên hệ</a>
              <a href="#" class="item">Điều khoản sử dụng</a>
              <a href="#" class="item">Quy chế hoạt động</a>
              <a href="#" class="item">Cơ chế giải quyết tranh chấp</a>
            </div>
          </div>

          <div class="column">
            <h4 class="ui inverted header">Chủ Nhà</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Gửi yêu cầu</a>
              <a href="#" class="item">Cách thức hoạt động</a>
              <a href="#" class="item">Hỏi đáp</a>
            </div>
          </div>

          <div class="column">
            <h4 class="ui inverted header">Nhà Thầu</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Đăng ký thành viên</a>
              <a href="#" class="item">Cách thức hoạt động</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
