<div class="ui vertical masthead center aligned segment">
  <div class="ui container">
    <h1 class="ui header">Bạn cần tìm <span class="highlight">Nhà Thầu Xây Dựng</span>?</h1>

    <%= link_to new_request_path, class: 'ui massive yellow request button' do %>
      <i class="send icon"></i>
      <%= 'GỬI YÊU CẦU' %>
    <% end %>

    <p class="sub header">
      Đội ngũ Kiến Trúc Sư và Nhà Thầu uy tín chuyên nghiệp, tư vấn thiết kế, báo giá xây dựng miễn phí.
    </p>
  </div>
</div>


<div class="ui vertical very padded center aligned grey segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="sixteen wide column">
        <h1 class="ui section header">Các dịch vụ chính</h1>
      </div>
    </div>

    <div class="horizontal content content-01 row">
      <div class="eleven wide left column">
        <div class="ui vertical compact box segment">
          <h2 class="ui header">Thiết Kế Kiến Trúc</h2>
          <p>Thiết kế kiến trúc với phong cách hiện đại không gian mở hoà hợp giữa kiến trúc và thiên nhiên.</p>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
      <div class="five wide right column">
        <%= image_tag 'icons/icon-pencil-ruler.png' %>
        <br />
        <br />
        <p>Thiết kế kiến trúc<br />Thiết kế 3d nội thất<br />Hồ sơ dự toán công trình</p>
        <br />
        <br />
        <%= link_to '> Báo giá', '/', class: 'ui yellow text' %>
      </div>
    </div>

    <div class="horizontal content content-02 row">
      <div class="eleven wide left column">
        <div class="ui vertical compact box segment">
          <h2 class="ui header">Thi Công Xây Dựng</h2>
          <p>Nhà thầu thi công xây dựng uy tín chuyên nghiệp, bảo đảm chất lượng công trình.</p>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
      <div class="five wide right column">
        <p>Vật tư chính phần thô<br />Vật tư chính phần hoàn thiện</p>
        <br />
        <br />
        <%= link_to '> Báo giá', '/', class: 'ui yellow text' %>
      </div>
    </div>

    <div class="horizontal content content-03 row">
      <div class="eleven wide left column">
        <div class="ui vertical compact box segment">
          <h2 class="ui header">Hoàn Thiện Nội Thất</h2>
          <p>Hoàn thiện nội thất căn hộ, nhà phố, biệt thự cao cấp từ các thương hiệu nổi tiếng.</p>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
      <div class="five wide right column">
        <%= image_tag 'icons/icon-sofa.png' %>
        <br />
        <br />
        <p>
          Phần khung thô<br />Phần hoàn thiện và trang trí nội thất<br />Hệ thống điện<br />Hệ thống cấp - thoát nước
        </p>
        <br />
        <br />
        <%= link_to '> Báo giá', '/', class: 'ui yellow text' %>
      </div>
    </div>

  </div>
</div>


<div class="ui vertical very padded center aligned grey segment">
  <div class="ui grid container">
    <div class="row">
      <div class="sixteen wide column">
        <h1 class="ui section header">Các dịch vụ khác</h1>
      </div>
    </div>
  </div>

  <div class="ui stackable three column grid container">
    <div class="column">
      <div class="service service-01">
        <div class="ui vertical top segment"></div>
        <div class="ui vertical bottom segment">
          <h2 class="ui header">Sơn Nội Ngoại Thất<br /><br /></h2>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="service service-02">
        <div class="ui vertical top segment"></div>
        <div class="ui vertical bottom segment">
          <h2 class="ui header">Sàn Gỗ, Thảm Sàn,<br />Lát Gạch</h2>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="service service-03">
        <div class="ui vertical top segment"></div>
        <div class="ui vertical bottom segment">
          <h2 class="ui header">Camera Quan Sát<br /><br /></h2>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="service service-04">
        <div class="ui vertical top segment"></div>
        <div class="ui vertical bottom segment">
          <h2 class="ui header">Cảnh Quan, Cây Xanh<br /><br /></h2>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="service service-05">
        <div class="ui vertical top segment"></div>
        <div class="ui vertical bottom segment">
          <h2 class="ui header">Dịch Vụ Chống Thấm<br /><br /></h2>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="service service-06">
        <div class="ui vertical top segment"></div>
        <div class="ui vertical bottom segment">
          <h2 class="ui header">Hồ Bơi<br /><br /></h2>
          <a href="/" class="ui yellow button">GỬI YÊU CẦU</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical very padded center aligned segment">
  <div class="ui stackable grid container">
    <div class="row">
      <div class="sixteen wide column">
        <h1 class="ui section header">Chúng tôi là ai?</h1>
      </div>
    </div>

    <div class="row">
      <div class="eleven wide column">
        <iframe width="100%" height="430" src="https://www.youtube.com/embed/IVRoDeNY3Gg" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="five wide column">
        <div class="ui vertical about-us segment">
          <h2 class="ui header">
            NHATHAUVANG.COM là nơi kết nối giữa Chủ nhà và Nhà Thầu
          </h2>

          <p>Chúng tôi hiểu được nhu cầu của bạn và mang lại cho bạn đối tác uy tín và chất lượng.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical segment">
 <div class="ui stackable three column grid container">
   <div class="row">
     <div class="column">
       <div class="ui center aligned padded info segment">
         <h3 class="ui header">Gửi yêu cầu miễn phí</h3>
         <p><%= image_tag 'icons/icon-email.png' %></p>
         <p>Yêu cầu càng chi tiết càng giúp nhà thầu lên phương án tốt nhất cho bạn</p>
       </div>
     </div>
     <div class="column">
       <div class="ui center aligned padded info segment">
         <h3 class="ui header">Liên hệ ngay trong 24h</h3>
         <p><%= image_tag 'icons/icon-phone-24h.png' %></p>
         <p>Lựa chọn nhà thầu thông qua hồ sơ năng lực và đánh giá từ khách hàng khác</p>
       </div>
     </div>
     <div class="column">
       <div class="ui center aligned padded info segment">
         <h3 class="ui header">Tiến hành nhanh chóng</h3>
         <p><%= image_tag 'icons/icon-rocket.png' %></p>
         <p>Giám sát chặt chẽ công việc của bạn và đánh giá khi dự án hoàn thành</p>
       </div>
     </div>
   </div>

   <div class="row">
     <div class="column">
       <div class="ui center aligned very padded info basic grey segment">
         <p><%= image_tag 'icons/icon-phone-circle.png' %></p>
         <p class="highlight">0985 393 868</p>
       </div>
     </div>
     <div class="column">
       <div class="ui center aligned very padded info basic grey segment">
         <p><%= image_tag 'icons/icon-facebook-circle.png' %></p>
         <p><a href="www.facebook.com/nhathauvangvietnam/" target="_blank">www.facebook.com/nhathauvangvietnam/</a></p>
       </div>
     </div>
     <div class="column">
       <div class="ui center aligned very padded info basic grey segment">
         <p><%= image_tag 'icons/icon-email-circle.png' %></p>
         <p><a href="mailto:info@nhathauvang.com">info@nhathauvang.com</a></p>
       </div>
     </div>
   </div>
 </div>
</div>
