.ui.inverted.footer.segment {
  background-color: #383838;
  padding: 5em 0;

  h4.ui.header {
    color: #ccc;
    font-size: 0.875em;
    font-weight: bold;
  }

  p, a, a.item {
    color: #808080;
    font-size: 0.875em;
  }

  a:hover, a.item:hover {
    color: lightgrey;
  }
}
