$home-header-color: #6b6b6b;
$home-header-highlight-color: #ffab00;
$home-sub-header-color: #808080;
$home-text-color: #4d4d4d;
$home-grey: #f7f8f9;

.home {
  color: $home-text-color;
  p,
  a {
    font-size: 1.125em;
    font-weight: 300;
  }

  .masthead.segment {
    background: image-url("home/city-bg01.jpg") no-repeat center bottom;
    background-size: contain;
    min-height: 700px;
    padding: 1em 0;
  }

  .masthead h1.ui.header {
    color: $home-header-color;
    font-size: 3em;
    font-weight: 100;
    margin-bottom: .6em;
    margin-top: 2em;

    .highlight {
      color: $home-header-highlight-color;
      font-weight: bold;
    }
  }

  .ui.grey.segment:not(.inverted) {
    border-top: $home-grey;
  }

  .ui.grey.segment {
    background-color: $home-grey;
    border-bottom: 0;
  }

  h1.ui.section.header {
    color: $home-header-color;
    font-size: 3em;
    font-weight: 100;
    margin: .6em 0;
    text-align: center;
  }

  h2.ui.header {
    color: $home-text-color;
    font-weight: normal;
  }

  h3.ui.header {
    font-size: 1.25em;
    color: $home-text-color;
    font-weight: normal;
  }

  .masthead a.request.button {
    background-color: $home-header-highlight-color;
    &:hover {
      background-color: lighten($home-header-highlight-color, 15%);
    }
  }

  .masthead p.sub.header {
    color: $home-sub-header-color;
    margin-top: 2em;
  }

  .horizontal.content {
    background-color: #fff;
    margin: 0 1em 4em;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }

    .left.column {
      background: no-repeat center;
      background-size: cover;
      padding: 4em 0;
    }

    .box.segment {
      background-color: #fff;
      margin: 0 auto;
      max-width: 27.5em;
      padding: 1.5em 2em;
    }

    p,
    a {
      font-size: 1.25em;
    }
  }

  .horizontal.content.content-01 {
    .left.column {
      background-image: image-url('home/section-bg01.jpg');
    }
  }

  .horizontal.content.content-02 {
     .left.column {
       background-image: image-url('home/section-bg02.jpg');
     }
   }

  .horizontal.content.content-03 {
    .left.column {
      background-image: image-url('home/section-bg03.jpg');
    }
  }

  .service {
    background: #fff;

    .top {
      background: no-repeat center;
      border-bottom: 0;
      height: 16em;
    }

    .bottom {
      padding: 2em;
    }
  }

  .service.service-01 .top {
    background-image: image-url('home/service-bg01.jpg');
  }

  .service.service-02 .top {
    background-image: image-url('home/service-bg02.jpg');
  }

  .service.service-03 .top {
    background-image: image-url('home/service-bg03.jpg');
  }

  .service.service-04 .top {
    background-image: image-url('home/service-bg04.jpg');
  }

  .service.service-05 .top {
    background-image: image-url('home/service-bg05.jpg');
  }

  .service.service-06 .top {
    background-image: image-url('home/service-bg06.jpg');
  }

  .about-us.segment {
    background: image-url('home/section-bg05.jpg') no-repeat;
    background-size: cover;
    height: 430px;
    padding: 2em;
  }

  .info.segment {
    p, a {
      font-size: 1em;
    }

    .highlight {
      color: #ffab00;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1em;
    }
  }

  .info.grey.segment {
    background-color: $home-grey;
  }

  .ui.vertical.stripe {
    padding: 8em 0;
  }

  .ui.vertical.stripe h3 {
    font-size: 2em;
  }

  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }

  .ui.vertical.stripe .floated.image {
    clear: both;
  }

  .ui.vertical.stripe p {
    font-size: 1.33em;
  }

  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0;
  }

  .quote.stripe.segment {
    padding: 0;

    .grid .column {
      padding-bottom: 5em;
      padding-top: 5em;
    }
  }

  @media only screen and (max-width: 700px) {
    .masthead.segment {
      min-height: 350px;
    }

    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }

    .masthead h2 {
      font-size: 1.5em;
      margin-top: .5em;
    }
  }
}
