@import "variables";

// Alignment
.text.left    { text-align: left; }
.text.right   { text-align: right; }
.text.center  { text-align: center; }
.text.justify { text-align: justify; }
.text.nowrap  { white-space: nowrap; }

// Transformation
.text.lowercase  { text-transform: lowercase; }
.text.uppercase  { text-transform: uppercase; }
.text.capitalize { text-transform: capitalize; }

// Contextual colors
.text.muted { color: $text-muted; }

.text.white {
  color: $color-white;
}
.text.grey {
  color: $color-grey;
}
.text.black {
  color: $color-black;
}
.text.yellow {
  color: $color-yellow;
}
.text.teal {
  color: $color-teal;
}
.text.red {
  color: $color-red;
}
.text.purple {
  color: $color-purple;
}
.text.pink {
  color: $color-pink;
}
.text.orange {
  color: $color-orange;
}
.text.green {
  color: $color-green;
}
.text.blue {
  color: $color-blue;
}

.text.small {
  font-size: .75em;
}
.text.large {
  font-size: 1.25em;
}
