.hidden.menu {
  display: none;
}

.ui.top-nav.menu {
  border: 0;
  border-bottom: 1px solid #ededed;
  box-shadow: none;
  padding: 1.5em;

  .item {
    color: #6b6b6b;
  }

  .item::before {
    width: 0;
  }

  .logo {
    img {
      margin-right: 1em;
      margin-top: -.5em;
      position: relative;
    }
  }
}

.ui.top-nav.menu .toc.item {
  display: none;
}

.ui.top.fixed.menu {
  .item {
    color: #6b6b6b;
  }

  .item::before {
    width: 0;
  }

  .logo {
    img {
      margin-right: 1em;
      margin-top: 1.1em;
    }
  }
}

.ui.sidebar.menu {
  .item {
    color: #6b6b6b;
  }

  .logo {
    display: block;
    text-align: center;

    img {
      display: inline-block;
      margin-top: 1.1em;
    }
  }
}

@media only screen and (max-width: 700px) {
  .ui.top.fixed.menu {
    display: none !important;
  }

  .ui.top-nav.menu .item,
  .ui.top-nav.menu .menu {
    display: none;
  }

  .ui.top-nav.menu .toc.item {
    display: block;
  }
}
