<div class="ui top-nav large menu">
  <div class="ui container">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <%= link_to t('navigation.topnav.blog'), root_path, class: 'item' %>
    <%= link_to t('navigation.topnav.project'), root_path, class: 'item' %>
    <div class="right menu">
      <div class="item">
        <%= link_to new_request_path, class: 'ui basic yellow button' do %>
          <i class="send icon"></i>
          <%= t('navigation.topnav.new_request') %>
        <% end %>
      </div>
      <%= link_to t('navigation.topnav.log_in'), sign_in_path, class: 'item' %>
      <%= link_to t('navigation.topnav.sign_up'), sign_up_path, class: 'item' %>
    </div>
  </div>
</div>
