<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'logo-ntv.png' %>
    <% end %>
    <%= link_to t('navigation.topnav.blog'), root_path, class: 'item' %>
    <%= link_to t('navigation.topnav.project'), root_path, class: 'item' %>

    <div class="right menu">
      <div class="item">
        <%= link_to new_job_path, class: 'ui basic yellow button' do %>
          <i class="send icon"></i>
          <%= t('navigation.topnav.new_request') %>
        <% end %>
      </div>
      <%= link_to t('navigation.topnav.log_in'), root_path, class: 'item' %>
      <%= link_to t('navigation.topnav.sign_up'), root_path, class: 'item' %>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical sidebar menu">
  <%= link_to root_path, class: 'logo' do %>
    <%= image_tag 'logo-ntv.png' %>
  <% end %>
  <%= link_to t('navigation.topnav.blog'), root_path, class: 'item' %>
  <%= link_to t('navigation.topnav.project'), jobs_path, class: 'item' %>
  <%= link_to t('navigation.topnav.new_request'), new_job_path, class: 'item' %>
  <%= link_to t('navigation.topnav.log_in'), root_path, class: 'item' %>
  <%= link_to t('navigation.topnav.sign_up'), root_path, class: 'item' %>
</div>
