<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Nhà Thầu Vàng</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script type="application/javascript">
    window.API_URL = '<%= ENV['API_URL'] %>';
    window.APP_ENV = '<%= ENV['RAILS_ENV'] %>';
    window.APP_HOST = '<%= request.domain %>';
  </script>

  <%= javascript_include_tag 'application' %>
  <!-- <%= javascript_include_tag 'server_prerender' %> -->
</head>
<body>

<%= render 'navigation/menu' %>

<div class="pusher">
  <%= render 'navigation/main_topnav' %>

  <div class="<%= "#{params[:controller]} #{params[:action]}" %>">
    <%= yield %>
  </div>
</div>

<%= render 'shared/footer' %>

</body>

</html>
